.fade-appear{
  opacity: 0;
}

.fade-appear-active{
  opacity: 1;
  transition: opacity 400ms linear;
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 400ms linear;
}